<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Vizew - Blog &amp; Magazine HTML Template</title>

    <%-include('partials/header')%>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <%-include('partials/topHeader')%>

        <!-- Navbar Area -->
        <div class="vizew-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">

                    <!-- Menu -->
                    <%-include('partials/navigation')%>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Admin Panel</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <div class="vizew-login-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="login-content">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h4>Admin Panel</h4>
                            <div class="line"></div>
                        </div>




                        <div class="section-heading" style="margin-top: 7rem ;">

                            <a href="/admin/changepassword" class="btn vizew-btn w-100 mt-30 border">Change password</a>
                            <a href="/admin/addBlog" class="btn vizew-btn w-100 mt-30 border">Add blog</a>
                            <a href="/admin/blogsmanag" class="btn vizew-btn w-100 mt-30 border">Blog Management</a>
                            <a href="/admin/userpersonalinfo" class="btn vizew-btn w-100 mt-30 border">Change Personal Information</a>
                            <a href="/admin/usersmanag" class="btn vizew-btn w-100 mt-30 border">Users Management</a>
                            <a href="/auth/logout" class="btn vizew-btn w-100 mt-30 border">Log out</a>
                            <a href="/useradmin" class="btn vizew-btn w-100 mt-30 border"> Direct me as user admin</a>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

    <!-- ##### Footer Area Start ##### -->

    <%-include('partials/footer')%>

    <!-- ##### Footer Area End ##### -->

    <%-include('partials/scripts')%>


            
          </body>
        </html>





























