<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Vizew - Blog &amp; Magazine HTML Template</title>

    <%-include('partials/header')%>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <%-include('partials/topHeader')%>
       

        <!-- Navbar Area -->
        <div class="vizew-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">

                    <!-- Menu -->
                    <%-include('partials/navigation')%>
                    
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>
                                    Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <div class="vizew-login-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="login-content">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h4>Create account</h4>
                            <div class="line"></div>
                        </div>

                            

                        <form action="/auth/register" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                    placeholder="Enter Your First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                    placeholder="Enter Your Last Name">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                    placeholder="Your Date of Birth">
                            </div>
                            <div class="form-group" >
                            
 <label class="form-control" id="Gender" name="gender"> Gender  &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; 
  <input type="radio" name="gender" value="male" > Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other
  
</label>


                                <!-- <%# <input type="checkbox" class="form-control" id="gender" name="gender"
                                    placeholder="Gender"> %> -->
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="chooseUserName" name="chooseUserName"
                                    placeholder="Choose Username">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" name="emailname"
                                    placeholder="Email">
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                                    placeholder="Type Your Phone Number">
                            </div>
                            
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" name="passwordname"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword2" name="confirmPassword"
                                    placeholder="Re-write Password">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember
                                        me</label>
                                </div>
                            </div>
                            <input type="submit" value="Sign up" class="btn vizew-btn w-100 mt-30">
                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

    <!-- ##### Footer Area Start ##### -->

    <%-include('partials/footer')%>

    <!-- ##### Footer Area End ##### -->

    <%-include('partials/scripts')%>



    



    <% if(userExist){%>

        <!-- user is  exist modal -->
        
        <!-- Button trigger modal-->
        
        
        <!-- Modal: modalAbandonedCart-->
        <div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header bg-primary">
                <p class="heading">user is exist
                </p>
        
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="white-text">&times;</span>
                </button>
              </div>
        
              <!--Body-->
              <div class="modal-body">
        
                <div class="row">
                  <div class="col-3">
                    <p></p>
                    <p class="text-center"><i class="fas fa-shopping-cart fa-4x"></i></p>
                  </div>
        
                  <div class="col-9">
                    <p>Sorry user name or email or phone number is already exist </p>
                    <p>Try another one.</p>
                  </div>
                </div>
              </div>
        
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                
                <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">OK</a>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!-- Modal: modalAbandonedCart-->
        
        <script>
        $('#modalAbandonedCart').modal('show');
        </script>
        <!-- finish user is  exist comment -->
        <%}%>
        
            
          </body>
        </html>