<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Vizew - Blog &amp; Magazine HTML Template</title>

    <%-include('partials/header')%>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <%-include('partials/topHeader')%>
       

        <!-- Navbar Area -->
        <div class="vizew-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">

                    <!-- Menu -->
                    <%-include('partials/navigation')%>
                    
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin"><i class="fa fa-home" aria-hidden="true"></i>
                                    Admin Panel</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <div class="vizew-login-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="login-content">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h4>Change Personal Information</h4>
                            <div class="line"></div>
                        </div>

                            

                        <form action="/admin/userpersonalinfo" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                value="<%=data.firstName%>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                value="<%=data.lastName%>">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                value="<%=data.dateBirth%>">
                            </div>
                            <div class="form-group" >
                            
 <label class="form-control" id="Gender" name="gender"  > Gender  &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; 
  <input type="radio" name="gender" value="male"  checked> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other
  
</label>


                                <!-- <%# <input type="checkbox" class="form-control" id="gender" name="gender"
                                    placeholder="Gender"> %> -->
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="chooseUserName" name="chooseUserName"
                                value="<%=data.userName%>">
                            </div>
                            <!-- <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" name="emailname"
                                    placeholder="Email">
                            </div> -->

                            <div class="form-group">
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                                value="<%=data.phoneNumber%>">
                            </div>
                            
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" name="passwordname"
                                value="<%=data.password%>"">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword2" name="confirmPassword"
                                value="<%=data.password%>">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember
                                        me</label>
                                </div>
                            </div>
                            <input type="submit" value="Save Change" class="btn vizew-btn w-100 mt-30">
                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

    <!-- ##### Footer Area Start ##### -->

    <%-include('partials/footer')%>

    <!-- ##### Footer Area End ##### -->

    <%-include('partials/scripts')%>



    


        
            
          </body>
        </html>